#block{
    background-image: url('https://st2.depositphotos.com/1383245/10005/v/950/depositphotos_100054572-stock-illustration-neutral-background-with-texture.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    height: 100vh;
    
}